// media aliases and breakpoints mixins
$screen-xs-min: 400px;
$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;

@mixin xs {
  @media screen and (max-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin font-inter {
  font-family: 'inter', sans-serif;
  font-weight: 700;
}

// Placeholder mixins
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}