// Color Variables
$color-purple-1: #5E60CE;
$color-purple-2: #6868c3;
$color-purple-3: #6D70D3;
$color-purple-4: #7a7ad053;
$color-purple-5: #eeeeff;

$color-white-1: #f7fbfe;
$color-white-2: #f4f5ff;
$color-white-3: #ffffff;

$color-gray: #7C7777;

$color-black: #000000;